<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874435303686-7edca6llfnef4vogettd7muthiqgr89c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874435303686-7edca6llfnef4vogettd7muthiqgr89c</string>
	<key>API_KEY</key>
	<string>AIzaSyAk8tG-Rm1E0hT1PeF5s5VoHd04Q8MhOvI</string>
	<key>GCM_SENDER_ID</key>
	<string>874435303686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dehasuer.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ios-c175a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ios-c175a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874435303686:ios:dcc5b22fb5df261c522687</string>
</dict>
</plist>